*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #181D23;
 
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .active{
        background-color: rgba(255, 255, 255, .2);
    }
    .panel{
        width: 100vw;
        border: 1px solid #4b5769;
        border-radius: 15px;
        overflow: hidden;
    }
    .panel-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #4b5769;
        .date-box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            height: 140px;
            .day{
                font-size: 2rem;
            }
            .time{
                font-size: 4rem;
                font-weight: bold;
            }
            .date{
                font-size: 1.8rem;
            }
        }
        .menu{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 400px;
            a{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-decoration: none;
                border-radius: 15px;
                border: 1px solid  #ddd;
                color: #fff;
                width: 100%;
                height: 30%;
                
                &:hover{
                    background-color: transparent;
                    background-image: linear-gradient(160deg, rgba(0, 110, 255, .25) 0%, rgba(9, 255, 0, 0.25) 100%);
                }
            }
            i{
                font-size: 4rem;
                margin-bottom: 0.4rem;
            }
            p{
                font-size: 1.6rem;
                text-transform: uppercase;
            }
        }
        .info-box{
            h3{
                font-size: 1.5rem;
            }
            p{
                font-size: 1.6rem;
            }
        }
    }
    .panel-right{
        background-image: linear-gradient(180deg, rgba(55, 64, 76, 1) 0%, rgba(21, 26, 32, 1) 100%);
        .up-box{
            display: flex;
            flex-direction: column;
            h1{
              margin-left: 2rem;
                text-transform: uppercase;
                font-weight: bold;
            }
          .boxes{
            display: flex;
           margin-left: 2rem;
           .one-box{
            width: 20rem;
            margin: 5px;
            text-align: center;
            border: 1px solid #fff;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color .1s;
            &:hover{
                background-color: rgba(255, 255, 255, .1);
            }
            .box-title{
                text-transform: uppercase;
                font-weight: bold;
            }
           }
        }
        .charts{
         width: 650px;
         margin: 5px;
         color: #fff;
        }
        }
        .section-down{
            max-width: 590px;
            margin-left: 2rem;
            h1{
                margin-left: 2rem;
            }
            .dropdown-toggle{
                margin-right: 2rem;
            }
            .up{
                display: flex;
                justify-content: space-between;
                .btn{
                    border: 1px solid #fff;
                    background-image: linear-gradient(180deg, rgba(55, 64, 76, 1) 0%, rgba(21, 26, 32, 1) 100%);
                    color: #fff;
                   
                    &:hover{
                        background-color: rgba(255, 255, 255, .1);
                    }
                }
            }
            li{
                margin-left: 3px;
                background-color: transparent;
                .number{
                    font-weight: bold;
                    font-size: 1.4rem;
                }
            }
            .bottom-border{
                border-bottom: 1px solid white;
               
            }
            .btn-toolbar{
                margin: 5px;
                .btn{
                  border: 1px solid #fff;
                  border-top: none;
                  border-bottom: none;
                }
            }
        }
    }
}